/* this is google font family links */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: "Quicksand", serif;
}
.container{
    max-width: 1140px;
    width: 100%;
    padding: 0% 15px;
    margin: 0 auto;
}

/* this part off commomn styles  */



.btn-primary{
    background-color: orange;
    padding: 10px;
    border: none;
    border-radius: 10px;

}
.btn-primary >a{
    color: #fff;
    font-weight: 600;
    font-size: 20px;

}
.flexiball{
    display: flex;
    align-items: center;
}
a{
    text-decoration: none;
}
li{
 list-style: none;
}
/* common color classes */
.color-orange{
    color: orange;
}
.color-skyblue{
    color: skyblue;
}
.color-black{
    color: black;
}



/* this style header  navigation  */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-link {
    display: flex;
    justify-content:space-around ;
    align-items: center;
    gap: 20px;
    font-size: 20px;

}
.nav-link> li:nth-child(1) a{
    color: orange;
}
.nav-link> li:nth-child(2) a{
    color: skyblue;
}
.nav-link> li:nth-child(3) a{
    color: #05D4DF;
}
.nav-link> li:nth-child(4) a{
    color: #5D58EF;
}

.nav-title{
    font-size: 32px;
    font-weight: 700;
}

/* <!-- Hamburger Icon --> */
.hamburger-menu{
    display: none;
    flex-direction: column;
    gap: 5px;
}
.hamburger-menu .line {
    width: 25px;
    height: 3px;
    background: black;
    border-radius: 2px;
}

/* this is header bannar styles */

.header-banner{
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
}
.banner-discription{
    width: 640px;
    margin: 0 auto;
}


.header-title{
    font-weight: 700;
    font-size: 56px;
}
.header-sub-title{
    margin: 24px auto;
}
.btn-enroll{
    background-color: black;
}

.banner-picture > img{
 width: 400px;
}


@media screen and (max-width:576px) {

    .flexiball{
        flex-grow: 1;
    }

    
    .hamburger-menu{
        display: flex;
        
    }
    .nav-link , .btn{
        display: none;
    }



    .header-banner{
        flex-direction: column-reverse;
    }
    .banner-discription{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .header-title{
        font-weight: 700;
        font-size: 32px;
    }
    .header-sub-title{
        margin: 24px auto;
    }
}